.card {
    font-size: 24px;
    line-height: 1.4;
    font-family: arial;
    font-size: 24px;
    text-align: left;
    color: black;
    background-color: white;
    max-width: 600px;
    margin-inline: auto;
    padding: 8px;
}

#prompt, #answer {
    margin-top: 20px;
}

context {
    font-size: 20px;
    line-height: 1;
}


small {
    font-size: 16px;
    line-height: 1;
}